[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A hello world exercise for ECSE 321
[access "refs/*"]
	owner = group user/DariusPi
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/DariusPi
	label-Verified = -1..+1 group user/DariusPi
	push = group user/DariusPi
	read = group user/DariusPi
	rebase = group user/DariusPi
	removeReviewer = group user/DariusPi
	submit = group user/DariusPi
[access "refs/heads/*"]
	create = group user/DariusPi
	push = +force group user/DariusPi
	pushMerge = group user/DariusPi
	read = group user/DariusPi
[access "refs/tags/*"]
	push = group user/DariusPi
	push = +force group user/DariusPi
